<div class="fixed z-10 inset-0 overflow-y-auto">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="inline-block align-bottom bg-white px-4 pt-5">

      <h4>Reset User Password</h4>
      <small style='text-align:center'>
        <%= render 'layouts/pop_ups' %>
      </small>
      <%= form_with scope: @user, url: update_password_user_path(@user), html: { method: :patch } do |f| %>

      <div class="field pt-4">
      <%= f.label :password %><i> (mininum : 6 characters)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class:'inputx' %>
      </div>

      <div class="field" style="margin-top: 1rem">
      <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'inputx' %>
      </div>

      <div class="actions" style="margin-top: 1rem">
        <%= f.submit "Update Password", class:'btn btn-outline-success w-25' %>
      </div>

      <div class="actions" style="margin-top: 1rem">
        <%= link_to 'Cancel', admin_manager_menu_path, class:'btn btn-default w-25' %>
      </div>
      <% end %>

    </div>
  </div>
</div>
