<div>
  <div class="d-flex align-items-stretch">

    <%= render 'user/session_sidebar_manager' %>

    <div class="p-2" style="width: 100%">
      <div class="col-10 bg-white" style="width: 99%">
        <div style="height: 88vh; padding: 3rem; background-color: #F9FAFB; border-radius: 17px;">

        <div style='text-align:center'>
          <%= render 'layouts/pop_ups' %>
        </div>

            <!--import function is not yet built-->
            <%= form_tag upload_users_path, multipart: true do%>
              <div class="importss">
                <%= file_field_tag :file %><br>
              </div>

              <%= submit_tag 'Upload', class:'btn btn-primary', style:'border-radius: 15px; width: 10%; float:right; margin-right:2rem'%>
            <% end %>

        </div>
      </div>
    </div>

  </div>
</div>
