<div>
  <div class="d-flex align-items-stretch">

    <%= render 'user/session_sidebar_manager' %>

<!--    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Toggle bottom offcanvas</button>-->

<!--<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">-->
<!--  <div class="offcanvas-header">-->
<!--    <h5 class="offcanvas-title" id="offcanvasBottomLabel">Offcanvas bottom</h5>-->
<!--    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>-->
<!--  </div>-->
<!--  <div class="offcanvas-body small">-->
<!--    ...-->
<!--  </div>-->
<!--</div>-->

    <div class="p-2" style="width: 100%">
      <div class="col-10 bg-white" style="width: 99%">
        <div style="padding: 9px; background-color: #F9FAFB; border-radius: 17px;">

        <div style='text-align:center'>
          <%= render 'layouts/pop_ups' %>
          <%= render 'admin/change_status_pop' %>
        </div>

          <div class="d-flex" style="padding: 27px; border-radius: 16px">
            <h3 style="color: #606165;">List of Users</h3>

            <div class="text-truncate d-flex pt-1" style="padding-bottom: 17px; position: absolute; right: 2.3rem">

              <a href="<%= upload_users_page_path %>">
                <button type="button" class="btn btn-outline-primary col-11 me-2 upuser" style>
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                    <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z"/>
                  </svg> Upload Users
                </button>
              </a>

              <a href="<%= admin_new_user_path  %>">
                <button type="button" class="btn btn-primary col-11 me-2" style="padding-right: 19px;text-align: center; font-family:'Cascadia Code PL'; font-weight: 600; border-radius: 17px ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                  </svg> Create User
                </button>
              </a>
            </div>

          </div>
          <div class="scbar_hide admin_page" style="padding: 27px">
            <%= render 'user/admin_all_users', users: @users %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!--bootstrap checkbox-->
<!--            <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">-->
<!--            <label class="btn btn-primary" for="btn-check">Single toggle</label>-->
